html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: cursive;
}

.t-center {
  text-align: center;
}

.title {
  margin: 0 auto;
  font-size: 16rem;
}

.preamble {
  font-family: fantasy;
}
